{% extends "VLCrudBundle::layout.html.twig" %}

{% block body %}

    <div class="jumbotron titre">
        <h1>Liste des articles</h1>
    </div>

<div class="main">
    {% for article in articles %}
        <div class="jumbotron article">
            <h3>{{ article.title }}</h3>
            <i>by {{ article.author }}, le {{ article.date|date("jj/mm/YY") }}</i>
            <br>
            <img class="img-fluid" src="{{ asset('/uploads/' ~ article.media) }}" alt="media de l'article">
            <p>{{ article.content }}</p>


    {% if is_granted('ROLE_ADMIN') %}
    <a class="btn btn-primary edit" href="{{ path('vl_edit', {'id':article.id}) }}">Modifier l'article</a>
    <a class="btn btn-danger delete" href="{{ path('vl_delete', {'id':article.id}) }}">Supprimer l'article</a>
    {% endif %}
        </div>

{% endfor %}
</div>
{% endblock %}
