{% extends "VLCrudBundle::layout.html.twig" %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('vl_add') }}"> Ajouter un article</a>
    {%  endif %}

<h1>Liste des articles</h1>
<div class="middle">
{% for article in articles %}
    <h3>{{ article.title }}</h3>
    <i>by {{ article.author }}, le {{ article.date|date("jj/mm/YY") }}</i>
    <br>
    <img src="{{ article.media }}" alt="media de l'article">
    <p>{{ article.content }}</p>

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('vl_edit', {'id':article.id}) }}">Modifier l'article</a>
    <a href="{{ path('vl_delete', {'id':article.id}) }}">Supprimer l'article</a>
    {% endif %}
    <hr>

{% endfor %}
</div>

{% endblock %}
